<a href="https://colab.research.google.com/github/elliot-linsey/QMUL/blob/main/Data%20Mining/Coursework%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# !pip install cubes
# !pip install -Iv sqlalchemy==1.3.9

In [14]:
from sqlalchemy import create_engine
from cubes.tutorial.sql import create_table_from_csv

In [15]:
engine = create_engine('sqlite:///data.sqlite')
create_table_from_csv(engine,
                      "country-income.csv",
                      table_name="country_income",
                      fields=[
                          ("region", "string"),
                          ("age", "integer"),
                          ("income", "integer"),
                          ("online_shopper", "string")
                          ],
                      create_id=True
                     )

In [16]:
from cubes import Workspace

workspace = Workspace()
workspace.register_default_store("sql", url="sqlite:///data.sqlite")

In [17]:
workspace.import_model("country_income_model.json")

In [18]:
cube = workspace.cube("country_income")

In [19]:
browser = workspace.browser(cube)

In [20]:
result = browser.aggregate()
result.summary["record_count"]

10

In [21]:
print("Summed incomes: " + str(result.summary["amount_sum"]))
print("Average income: " + str(result.summary["average"]))
print("Minimum income: " + str(result.summary["minimum"]))
print("Maximum income: " + str(result.summary["maximum"]))

Summed incomes: 768200
Average income: 76820.0
Minimum income: 57600
Maximum income: 99600

In [23]:
result = browser.aggregate(drilldown=["region"])
for record in result:
    print(record)

{'region': 'Brazil', 'amount_sum': 193200, 'record_count': 3, 'maximum': 73200, 'minimum': 57600, 'average': 64400.0}
{'region': 'India', 'amount_sum': 331200, 'record_count': 4, 'maximum': 94800, 'minimum': 69600, 'average': 82800.0}
{'region': 'USA', 'amount_sum': 243800, 'record_count': 3, 'maximum': 99600, 'minimum': 64800, 'average': 81266.66666666667}

In [24]:
result = browser.aggregate(drilldown=["age"])
for record in result:
    print(record)

{'age': 32, 'amount_sum': 57600, 'record_count': 1, 'maximum': 57600, 'minimum': 57600, 'average': 57600.0}
{'age': 35, 'amount_sum': 64800, 'record_count': 1, 'maximum': 64800, 'minimum': 64800, 'average': 64800.0}
{'age': 40, 'amount_sum': 69600, 'record_count': 1, 'maximum': 69600, 'minimum': 69600, 'average': 69600.0}
{'age': 42, 'amount_sum': 80400, 'record_count': 1, 'maximum': 80400, 'minimum': 80400, 'average': 80400.0}
{'age': 43, 'amount_sum': 73200, 'record_count': 1, 'maximum': 73200, 'minimum': 73200, 'average': 73200.0}
{'age': 45, 'amount_sum': 79400, 'record_count': 1, 'maximum': 79400, 'minimum': 79400, 'average': 79400.0}
{'age': 46, 'amount_sum': 62400, 'record_count': 1, 'maximum': 62400, 'minimum': 62400, 'average': 62400.0}
{'age': 49, 'amount_sum': 86400, 'record_count': 1, 'maximum': 86400, 'minimum': 86400, 'average': 86400.0}
{'age': 53, 'amount_sum': 94800, 'record_count': 1, 'maximum': 94800, 'minimum': 94800, 'average': 94800.0}
{'age': 55, 'amount_sum': 99600, 'record_count': 1, 'maximum': 99600, 'minimum': 99600, 'average': 99600.0}

In [25]:
result = browser.aggregate(drilldown=["online_shopper"])
for record in result:
    print(record)

{'online_shopper': 'No', 'amount_sum': 386400, 'record_count': 5, 'maximum': 99600, 'minimum': 62400, 'average': 77280.0}
{'online_shopper': 'Yes', 'amount_sum': 381800, 'record_count': 5, 'maximum': 94800, 'minimum': 57600, 'average': 76360.0}