<a href="https://colab.research.google.com/github/elliot-linsey/QMUL/blob/main/Data%20Mining/Coursework%204%20pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [43]:
url = 'http://eecs.qmul.ac.uk/~emmanouilb/income_table.html'
html = urlopen(url)

In [44]:
soup = BeautifulSoup(html, 'lxml')

[<h1>ECS766P Data Mining - Week 10</h1>]

In [53]:
th = soup.find_all('th')
headers = []
for header in th:
  headers.append(header.get_text())
headers

['Region', 'Age', 'Income', 'Online Shopper']

In [63]:
td = soup.find_all('td')
rows = []
for row in td:
  rows.append(row.get_text())
rows = np.array(rows)
rows = np.reshape(rows,(10,4))
rows

array([['India', '49', '86400', 'No'],
       ['Brazil', '32', '57600', 'Yes'],
       ['USA', '35', '64800', 'No'],
       ['Brazil', '43', '73200', 'No'],
       ['USA', '45', '', 'Yes'],
       ['India', '40', '69600', 'Yes'],
       ['Brazil', '', '62400', 'No'],
       ['India', '53', '94800', 'Yes'],
       ['USA', '55', '99600', 'No'],
       ['India', '42', '80400', 'Yes']], dtype='<U6')

In [64]:
df = pd.DataFrame(rows,columns=headers)
df

   Region Age Income Online Shopper
0   India  49  86400             No
1  Brazil  32  57600            Yes
2     USA  35  64800             No
3  Brazil  43  73200             No
4     USA  45                   Yes
5   India  40  69600            Yes
6  Brazil      62400             No
7   India  53  94800            Yes
8     USA  55  99600             No
9   India  42  80400            Yes