<a href="https://colab.research.google.com/github/elliot-linsey/QMUL/blob/main/Data%20Mining/Coursework%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
# !pip install cubes
# !pip install -Iv sqlalchemy==1.3.9

In [95]:
from sqlalchemy import create_engine
from cubes.tutorial.sql import create_table_from_csv

In [96]:
engine = create_engine('sqlite:///data.sqlite')
create_table_from_csv(engine,
                      "country-income.csv",
                      table_name="country_income",
                      fields=[
                          ("region", "string"),
                          ("age", "integer"),
                          ("income", "integer"),
                          ("online_shopper", "string")
                          ],
                      create_id=True
                     )

In [97]:
from cubes import Workspace

workspace = Workspace()
workspace.register_default_store("sql", url="sqlite:///data.sqlite")

In [98]:
workspace.import_model("country_income_model.json")

In [99]:
cube = workspace.cube("country_income")

In [100]:
browser = workspace.browser(cube)

In [101]:
result = browser.aggregate()
result.summary["record_count"]

10

In [105]:
print("Summed incomes: " + str(result.summary["amount_sum"]))
print("Average income: " + str(result.summary["average"]))
print("Minimum income: " + str(result.summary["minimum"]))
print("Maximum income: " + str(result.summary["maximum"]))

Summed incomes: 768200
Average income: 76820.0
Minimum income: 57600
Maximum income: 99600

76820.0

In [104]:
result = browser.aggregate(drilldown=["item"])
for record in result:
    print(record)

{'item.region': 'Brazil', 'amount_sum': 193200, 'record_count': 3, 'maximum': 73200, 'minimum': 57600, 'average': 64400.0}
{'item.region': 'India', 'amount_sum': 331200, 'record_count': 4, 'maximum': 94800, 'minimum': 69600, 'average': 82800.0}
{'item.region': 'USA', 'amount_sum': 243800, 'record_count': 3, 'maximum': 99600, 'minimum': 64800, 'average': 81266.66666666667}