<a href="https://colab.research.google.com/github/elliot-linsey/QMUL/blob/main/Data%20Mining/Coursework%204%20pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [43]:
url = 'http://eecs.qmul.ac.uk/~emmanouilb/income_table.html'
html = urlopen(url)

In [44]:
soup = BeautifulSoup(html, 'lxml')

[<h1>ECS766P Data Mining - Week 10</h1>]

In [53]:
th = soup.find_all('th')
headers = []
for header in th:
  headers.append(header.get_text())
headers

['Region', 'Age', 'Income', 'Online Shopper']

In [63]:
td = soup.find_all('td')
rows = []
for row in td:
  rows.append(row.get_text())
rows = np.array(rows)
rows = np.reshape(rows,(10,4))
rows

array([['India', '49', '86400', 'No'],
       ['Brazil', '32', '57600', 'Yes'],
       ['USA', '35', '64800', 'No'],
       ['Brazil', '43', '73200', 'No'],
       ['USA', '45', '', 'Yes'],
       ['India', '40', '69600', 'Yes'],
       ['Brazil', '', '62400', 'No'],
       ['India', '53', '94800', 'Yes'],
       ['USA', '55', '99600', 'No'],
       ['India', '42', '80400', 'Yes']], dtype='<U6')

In [64]:
df = pd.DataFrame(rows,columns=headers)
df

   Region Age Income Online Shopper
0   India  49  86400             No
1  Brazil  32  57600            Yes
2     USA  35  64800             No
3  Brazil  43  73200             No
4     USA  45                   Yes
5   India  40  69600            Yes
6  Brazil      62400             No
7   India  53  94800            Yes
8     USA  55  99600             No
9   India  42  80400            Yes

In [65]:
url = 'http://eecs.qmul.ac.uk/postgraduate/programmes/'
html = urlopen(url)

In [66]:
soup = BeautifulSoup(html, 'lxml')

In [67]:
th = soup.find_all('th')
headers = []
for header in th:
  headers.append(header.get_text())
headers

['Postgraduate degree programmes', 'Part-time(2 year)', 'Full-time(1 year)']

In [79]:
td = soup.find_all('td')
rows = []
for row in td:
  rows.append(row.get_text())
rows = np.array(rows)
rows = np.reshape(rows,(17,3))
rows2 = []
for x in rows:
  rows2.append(np.char.strip(x,'\xa0'))
rows = rows2
#rows

In [78]:
df2 = pd.DataFrame(rows, columns=headers)
df2

                       Postgraduate degree programmes  ... Full-time(1 year)
0      Advanced Electronic and Electrical Engineering  ...              H60A
1                             Artificial Intelligence  ...              I4U1
2   Artificial Intelligence with Machine Learning ...  ...              I4U8
3                                    Big Data Science  ...              H6J7
4   Big Data Science with Machine Learning Systems...  ...              I4U7
5                                      Computer Games  ...              I4U4
6                                    Computer Science  ...              G4U1
7                        Computer Science by Research  ...              G4Q1
8                   Computing and Information Systems  ...              G5U5
9   Data Science and Artificial Intelligence by Co...  ...              I4U5
10                 Electronic Engineering by Research  ...              H6T5
11                          Internet of Things (Data)  ...              I1T0
12         Machine Learning for Visual Data Analytics  ...              H6JE
13                          Media and Arts Technology  ...              I4U6
14                          Sound and Music Computing  ...              H6T8
15             Telecommunication and Wireless Systems  ...              H6JA
16  Digital and Technology Solutions (Apprenticeship)  ...

[17 rows x 3 columns]

In [136]:
links = []
for row in soup.find_all('td'):
  #print(row.find('a'))
  try:
    links.append(row.find('a').get('href'))
  except AttributeError:
    links.append('')

In [137]:
links = np.array(links)
links = np.reshape(links,(17,3))
#links

In [143]:
df3 = pd.DataFrame(links, columns=['drop', 'Part-time Link', 'Full-time Link'])
df3 = df3.drop('drop',axis=1)
df3 = df2.join(df3)
df3

                       Postgraduate degree programmes  ...                                     Full-time Link
0      Advanced Electronic and Electrical Engineering  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
1                             Artificial Intelligence  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
2   Artificial Intelligence with Machine Learning ...  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
3                                    Big Data Science  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
4   Big Data Science with Machine Learning Systems...  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
5                                      Computer Games  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
6                                    Computer Science  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
7                        Computer Science by Research  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
8                   Computing and Information Systems  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
9   Data Science and Artificial Intelligence by Co...  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
10                 Electronic Engineering by Research  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
11                          Internet of Things (Data)  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
12         Machine Learning for Visual Data Analytics  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
13                          Media and Arts Technology  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
14                          Sound and Music Computing  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
15             Telecommunication and Wireless Systems  ...  https://www.qmul.ac.uk/postgraduate/taught/cou...
16  Digital and Technology Solutions (Apprenticeship)  ...

[17 rows x 5 columns]