In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

In [2]:
df = pd.read_csv(r"D:\EOY Datasets\Full Datasets\Everything_cleaned.csv",index_col=0)

C:\Users\ellio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [14]:
df2 = pd.read_csv(r"D:\EOY Datasets\Full Datasets\Everything_NonCovid.csv",index_col=0)

C:\Users\ellio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,Crime_ID,Month,Reported_by,Crime_type,Outcome_type,Year,Level_of_Lockdown,Region
0,e9a50727f2189e0c50f704e3661bc1a8ae3a39aece4866...,2019-01-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
1,fb06f54e9d633a961109ef74171e4beb40b2fe44e57a10...,2019-01-01,Avon and Somerset,Violence and sexual offences,Unable to prosecute suspect,2019,No Lockdown,South West
2,4655ba031d5c8d00b247577a22472fbb8f9130d98b7d95...,2019-01-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
3,2830f28a4a93138717182d1cc51b6d77cfaf3c27398934...,2019-01-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West
4,ca01d599d45f6e1d1bc5b05ddc6a1b559870fc831baa8e...,2019-01-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West

In [7]:
tab = pd.crosstab(df.Crime_type,df.Level_of_Lockdown)
tab

Level_of_Lockdown                High   Medium  No Lockdown
Crime_type
Criminal damage and arson      427073   373535       441936
Drug offences                  169180   122966       149840
Public order offences          391677   378093       340925
Theft offences                 965238   777302      1094973
Violence and sexual offences  1624924  1401642      1516608

Look at expected counts, if there were no difference then there would be far higher numbers of theft offences in Medium lockdown etc

In [13]:
chi2_contingency(tab)

(37243.32432071246,
 0.0,
 8,
 array([[ 436907.93965671,  372856.53813358,  432779.5222097 ],
        [ 155412.76012528,  132629.00135811,  153944.23851661],
        [ 390546.70421089,  333291.9338247 ,  386856.36196441],
        [ 997736.86773195,  851467.04993066,  988309.08233739],
        [1597487.72827517, 1363293.47675294, 1582392.79497189]]))

In [15]:
df2.head()

,Crime_ID,Month,Reported_by,Crime_type,Outcome_type,Region,Year
0,9500972e2e3c87dc23b65885dd61085ee8a39329c03792...,2017-01,Avon and Somerset Constabulary,Theft offences,Other Outcome,South West,2017
1,4c3b7072a3bfcf441b1036e67fd642cf1e42fdccf16af1...,2017-01,Avon and Somerset Constabulary,Criminal damage and arson,No suspect identified,South West,2017
2,8e6ae250f68623b82068cd3c79b64b05a559f6d9c9393c...,2017-01,Avon and Somerset Constabulary,Criminal damage and arson,No suspect identified,South West,2017
3,0f5c81322cd60d96ef8877d94eb37e98cad395d1773efc...,2017-01,Avon and Somerset Constabulary,Violence and sexual offences,No suspect identified,South West,2017
4,b46b395f390b0dc9112686c30d0939f0ded0de42877df7...,2017-01,Avon and Somerset Constabulary,Violence and sexual offences,No suspect identified,South West,2017

In [20]:
tab2 = pd.crosstab(df2.Crime_type,df2.Year)
tab2

Year                             2017     2018     2019
Crime_type
Criminal damage and arson      515876   483533   406634
Drug offences                  119272   124341   123673
Public order offences          302082   355207   307976
Theft offences                1349965  1267009   975486
Violence and sexual offences  1260729  1469880  1278529

Still significantly different even without covid.

In [21]:
chi2_contingency(tab2)

(46425.43367503669,
 0.0,
 8,
 array([[ 482441.10986837,  503116.08514716,  420485.80498447],
        [ 126023.07715988,  131423.78607863,  109839.13676148],
        [ 331201.47670952,  345395.08957377,  288668.4337167 ],
        [1232643.94442966, 1285468.80233945, 1074347.25323089],
        [1375614.39183257, 1434566.23686098, 1198957.37130645]]))

In [34]:
tab3 = pd.crosstab(df2.Outcome_type,df2.Year)
tab3

Year                            2017     2018     2019
Outcome_type
No suspect identified        1865956  1783831  1303229
Other Outcome                 347690   348220   282513
Suspect charged               364989   323366   265690
Unable to prosecute suspect   969289  1244553  1240866

In [25]:
chi2_contingency(tab3)

(126395.93628964067,
 0.0,
 6,
 array([[1699477.56664325, 1772308.54219341, 1481229.89116334],
        [ 335716.24626042,  350103.33921362,  292603.41452596],
        [ 327351.67321651,  341380.30305917,  285313.02372432],
        [1185378.51387982, 1236177.81553379, 1033151.67058639]]))