In [196]:
import pandas as pd
import numpy as np

In [197]:
words = pd.DataFrame(
    [[3,0,5,0,2,6,0,2,0,2],
    [0,7,0,2,1,0,0,3,0,0],
    [0,1,0,0,1,2,2,0,3,0],
    [1,1,1,1,1,1,1,1,1,1],
    [1,1,1,1,1,1,1,1,1,1]],
    columns=['team','coach','play','ball','score','game','win','lost','timeout','season'],
    index=['Document 1','Document 2', 'Document 3','Document 4', 'Document 5']
)

words

            team  coach  play  ball  score  game  win  lost  timeout  season
Document 1     3      0     5     0      2     6    0     2        0       2
Document 2     0      7     0     2      1     0    0     3        0       0
Document 3     0      1     0     0      1     2    2     0        3       0
Document 4     1      1     1     1      1     1    1     1        1       1
Document 5     1      1     1     1      1     1    1     1        1       1

In [198]:
(0.5*5/20)+(0.5*7/62)

0.1814516129032258

In [199]:
query = ['team']

In [200]:
def retrieval(query):
    for x in query:
        doc_mod = words[x]
        word_sum = words[x].sum()
        #doc_sum = words[x].sum(axis=1)
        print(doc_mod)
        
        
retrieval(query)

Document 1    3
Document 2    0
Document 3    0
Document 4    1
Document 5    1
Name: team, dtype: int64

In [201]:
class retrieval():
    def __init__(self,query,model,alpha):
        self.query = query
        self.model = model
        self.alpha = alpha
    
    def totals(self):
        return self.model.iloc[::].sum(axis=1)
        
    def retrieve(self):
        totals = self.totals
        probabilities = []
        ranking = []
        for x in self.query:
            doc_mod = words[x]
            word_sum = words[x].sum()
            #doc_sum = words[x].sum(axis=1)
            doc_probs = doc_mod/self.totals()
            #print(doc_probs)
            coll_model = doc_mod.sum()/self.totals().sum()
            #print(coll_model)
            probabilities.append((self.alpha*doc_probs) + ((1-self.alpha)*coll_model))
        
        probs_df = pd.concat(probabilities,axis=1)
        return probs_df.product(axis=1).sort_values(ascending=False)
        #return np.prod([x[0] for x in probabilities])
#         for y in self.query:
#             return (self.alpha*doc_probs) + ((1-self.alpha)*coll_model)
    
test = retrieval(['team','play'], words, 0.5)
test.retrieve()

Document 1    0.020925
Document 4    0.009615
Document 5    0.009615
Document 2    0.002276
Document 3    0.002276
dtype: float64

In [206]:
((0.5*3/20)+(0.5*5/62))*((0.5*5/20)+(0.5*7/62))

0.020925468262226847