In [1]:
#!pip install matplotlib --force-reinstall --user

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('tablewithregions.csv')
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [4]:
df

,Police_Force_Name,Year,Quarter,Detailed_Offence_Description,Offence_Group,Offence_Subgroup,Number_of_Arrests,Arrests_Ranked,Level_of_Lockdown,Region
0,Avon and Somerset,2020,1,Homicide,Violence against the person,Homicide,2,(-0.001. 20.0],High,South West
1,Avon and Somerset,2020,1,Assault without injury on a constable,Violence against the person,Violence without injury,8,(-0.001. 20.0],High,South West
2,Avon and Somerset,2020,1,Assault without injury,Violence against the person,Violence without injury,89,(80.0. 100.0],High,South West
3,Avon and Somerset,2020,1,Racially or religiously aggravated assault wit...,Violence against the person,Violence without injury,1,(-0.001. 20.0],High,South West
4,Avon and Somerset,2020,1,Modern slavery,Violence against the person,Violence without injury,2,(-0.001. 20.0],High,South West
...,...,...,...,...,...,...,...,...,...,...
112781,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,8,(-0.001. 20.0],Medium,South West
112782,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,15,(-0.001. 20.0],Medium,South West
112783,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,7,(-0.001. 20.0],Medium,South West
112784,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,11,(-0.001. 20.0],Medium,South West
112785,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,1,(-0.001. 20.0],Medium,South West

In [5]:
df['one'] = pd.cut(df.Number_of_Arrests,bins=np.arange(0,220,20),include_lowest=True)
df.one.value_counts()

(-0.001, 20.0]    88035
(20.0, 40.0]       8468
(40.0, 60.0]       3969
(60.0, 80.0]       2336
(80.0, 100.0]      1547
(100.0, 120.0]     1136
(120.0, 140.0]      841
(140.0, 160.0]      680
(160.0, 180.0]      528
(180.0, 200.0]      438
Name: one, dtype: int64

In [6]:
df['two'] = pd.cut(df.Number_of_Arrests,bins=np.arange(200,2100,100),include_lowest=False)
df.two.value_counts()

(200, 300]      1484
(300, 400]       869
(400, 500]       552
(500, 600]       388
(600, 700]       260
(700, 800]       196
(800, 900]       154
(900, 1000]      137
(1000, 1100]     115
(1100, 1200]      95
(1200, 1300]      85
(1300, 1400]      56
(1400, 1500]      46
(1600, 1700]      41
(1500, 1600]      40
(1700, 1800]      33
(1800, 1900]      33
(1900, 2000]      13
Name: two, dtype: int64

In [7]:
df['three'] = df.Number_of_Arrests.apply(lambda x: 'Over 2000' if x > 2000 else 'nan')
#df.three.value_counts()
df[df.three == 'Over 2000']

,Police_Force_Name,Year,Quarter,Detailed_Offence_Description,Offence_Group,Offence_Subgroup,Number_of_Arrests,Arrests_Ranked,Level_of_Lockdown,Region,one,two,three
2264,Avon and Somerset,2020,1,Assault without injury,Violence against the person,Violence without injury,2054,Over 2000,High,South West,NaN,NaN,Over 2000
3639,British Transport Police,2020,1,Theft from the person,Theft offences,Theft from the person,2971,Over 2000,High,British Transport Police,NaN,NaN,Over 2000
3688,British Transport Police,2020,1,Other theft,Theft offences,Other theft offences,2223,Over 2000,High,British Transport Police,NaN,NaN,Over 2000
4504,Cheshire,2020,1,Assault without injury,Violence against the person,Violence without injury,2004,Over 2000,High,West Midlands,NaN,NaN,Over 2000
9040,Essex,2020,1,Assault without injury,Violence against the person,Violence without injury,2908,Over 2000,High,South East,NaN,NaN,Over 2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111584,West Midlands,2021,1,Malicious Communications,Violence against the person,Stalking and harassment,2156,Over 2000,Medium,West Midlands,NaN,NaN,Over 2000
111640,West Midlands,2021,1,Public fear. alarm or distress,Public order offences,Public order offences,3005,Over 2000,Medium,West Midlands,NaN,NaN,Over 2000
111671,West Yorkshire,2021,1,Assault without injury,Violence against the person,Violence without injury,3094,Over 2000,Medium,East Midlands,NaN,NaN,Over 2000
112276,West Yorkshire,2021,1,Malicious Communications,Violence against the person,Stalking and harassment,2139,Over 2000,Medium,East Midlands,NaN,NaN,Over 2000
112362,West Yorkshire,2021,1,Public fear. alarm or distress,Public order offences,Public order offences,2067,Over 2000,Medium,East Midlands,NaN,NaN,Over 2000

In [8]:
df.one, df.two, df.three = df.one.astype('str'),df.two.astype('str'),df.three.astype('str')

In [9]:
df['test'] = df.one + df.two + df.three
df

,Police_Force_Name,Year,Quarter,Detailed_Offence_Description,Offence_Group,Offence_Subgroup,Number_of_Arrests,Arrests_Ranked,Level_of_Lockdown,Region,one,two,three,test
0,Avon and Somerset,2020,1,Homicide,Violence against the person,Homicide,2,(-0.001. 20.0],High,South West,"(-0.001, 20.0]",NaN,nan,NaN
1,Avon and Somerset,2020,1,Assault without injury on a constable,Violence against the person,Violence without injury,8,(-0.001. 20.0],High,South West,"(-0.001, 20.0]",NaN,nan,NaN
2,Avon and Somerset,2020,1,Assault without injury,Violence against the person,Violence without injury,89,(80.0. 100.0],High,South West,"(80.0, 100.0]",NaN,nan,NaN
3,Avon and Somerset,2020,1,Racially or religiously aggravated assault wit...,Violence against the person,Violence without injury,1,(-0.001. 20.0],High,South West,"(-0.001, 20.0]",NaN,nan,NaN
4,Avon and Somerset,2020,1,Modern slavery,Violence against the person,Violence without injury,2,(-0.001. 20.0],High,South West,"(-0.001, 20.0]",NaN,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112781,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,8,(-0.001. 20.0],Medium,South West,"(-0.001, 20.0]",NaN,nan,NaN
112782,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,15,(-0.001. 20.0],Medium,South West,"(-0.001, 20.0]",NaN,nan,NaN
112783,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,7,(-0.001. 20.0],Medium,South West,"(-0.001, 20.0]",NaN,nan,NaN
112784,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,11,(-0.001. 20.0],Medium,South West,"(-0.001, 20.0]",NaN,nan,NaN
112785,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,1,(-0.001. 20.0],Medium,South West,"(-0.001, 20.0]",NaN,nan,NaN

In [10]:
df.test = df.test.astype('str').str.replace(',','.',regex=True)
df.test = df.test.str.replace('nan','',regex=True)

In [11]:
df.test.value_counts()

    112786
Name: test, dtype: int64

In [12]:
df.drop(columns=['one','two','three','Arrests_Ranked'],axis=1,inplace=True)
df.rename(columns={'test':'Arrests_Ranked'},inplace=True)
df

,Police_Force_Name,Year,Quarter,Detailed_Offence_Description,Offence_Group,Offence_Subgroup,Number_of_Arrests,Level_of_Lockdown,Region,Arrests_Ranked
0,Avon and Somerset,2020,1,Homicide,Violence against the person,Homicide,2,High,South West,
1,Avon and Somerset,2020,1,Assault without injury on a constable,Violence against the person,Violence without injury,8,High,South West,
2,Avon and Somerset,2020,1,Assault without injury,Violence against the person,Violence without injury,89,High,South West,
3,Avon and Somerset,2020,1,Racially or religiously aggravated assault wit...,Violence against the person,Violence without injury,1,High,South West,
4,Avon and Somerset,2020,1,Modern slavery,Violence against the person,Violence without injury,2,High,South West,
...,...,...,...,...,...,...,...,...,...,...
112781,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,8,Medium,South West,
112782,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,15,Medium,South West,
112783,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,7,Medium,South West,
112784,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,11,Medium,South West,
112785,Wiltshire,2021,1,Racially or religiously aggravated public fear...,Public order offences,Public order offences,1,Medium,South West,

In [13]:
#df.Arrests_Ranked.value_counts()

In [14]:
df = df[df.Offence_Group != 'Possession of weapons offences'].copy()

In [15]:
df.Offence_Group.value_counts()

Violence against the person             26772
Theft offences                          25044
Sexual offences                         18214
Miscellaneous crimes against society    11723
Criminal damage and arson               10926
Public order offences                    6827
Drug offences                            5895
Robbery                                  2043
Name: Offence_Group, dtype: int64

In [16]:
df['Offence_Group2'] = df.Offence_Group.apply(lambda x: 'Theft offences' if  x == 'Robbery' else ('Public order offences' if x == 'Miscellaneous crimes against society' else x))

In [17]:
df.drop(columns=['Offence_Group'],axis=1,inplace=True)
df.rename(columns={'Offence_Group2':'Offence_Group'},inplace=True)

In [18]:
df.Offence_Group.value_counts()

Theft offences                 27087
Violence against the person    26772
Public order offences          18550
Sexual offences                18214
Criminal damage and arson      10926
Drug offences                   5895
Name: Offence_Group, dtype: int64

In [19]:
df.drop(columns=['Detailed_Offence_Description','Offence_Subgroup',],axis=1,inplace=True)
df

,Police_Force_Name,Year,Quarter,Number_of_Arrests,Level_of_Lockdown,Region,Arrests_Ranked,Offence_Group
0,Avon and Somerset,2020,1,2,High,South West,,Violence against the person
1,Avon and Somerset,2020,1,8,High,South West,,Violence against the person
2,Avon and Somerset,2020,1,89,High,South West,,Violence against the person
3,Avon and Somerset,2020,1,1,High,South West,,Violence against the person
4,Avon and Somerset,2020,1,2,High,South West,,Violence against the person
...,...,...,...,...,...,...,...,...
112781,Wiltshire,2021,1,8,Medium,South West,,Public order offences
112782,Wiltshire,2021,1,15,Medium,South West,,Public order offences
112783,Wiltshire,2021,1,7,Medium,South West,,Public order offences
112784,Wiltshire,2021,1,11,Medium,South West,,Public order offences
112785,Wiltshire,2021,1,1,Medium,South West,,Public order offences

In [20]:
df = df[['Police_Force_Name','Year','Quarter','Offence_Group','Number_of_Arrests','Arrests_Ranked','Region','Level_of_Lockdown']].copy()
df

,Police_Force_Name,Year,Quarter,Offence_Group,Number_of_Arrests,Arrests_Ranked,Region,Level_of_Lockdown
0,Avon and Somerset,2020,1,Violence against the person,2,,South West,High
1,Avon and Somerset,2020,1,Violence against the person,8,,South West,High
2,Avon and Somerset,2020,1,Violence against the person,89,,South West,High
3,Avon and Somerset,2020,1,Violence against the person,1,,South West,High
4,Avon and Somerset,2020,1,Violence against the person,2,,South West,High
...,...,...,...,...,...,...,...,...
112781,Wiltshire,2021,1,Public order offences,8,,South West,Medium
112782,Wiltshire,2021,1,Public order offences,15,,South West,Medium
112783,Wiltshire,2021,1,Public order offences,7,,South West,Medium
112784,Wiltshire,2021,1,Public order offences,11,,South West,Medium
112785,Wiltshire,2021,1,Public order offences,1,,South West,Medium

In [21]:
df.Level_of_Lockdown.value_counts()

No Lockdown    27414
Medium         27289
High           26721
Low            26020
Name: Level_of_Lockdown, dtype: int64

In [22]:
df.Level_of_Lockdown = df.Level_of_Lockdown.apply(lambda x: 'Medium' if x == 'Low' else x)

In [23]:
df.Level_of_Lockdown.value_counts()

Medium         53309
No Lockdown    27414
High           26721
Name: Level_of_Lockdown, dtype: int64

In [24]:
df2 = df.sample(frac=0.1,replace=False)

In [25]:
df2

,Police_Force_Name,Year,Quarter,Offence_Group,Number_of_Arrests,Arrests_Ranked,Region,Level_of_Lockdown
78672,Staffordshire,2021,3,Violence against the person,2,,West Midlands,Medium
35451,Essex,2019,1,Sexual offences,1,,South East,No Lockdown
34950,Dyfed-Powys,2019,1,Violence against the person,6,,South West,No Lockdown
44692,Metropolitan Police,2019,1,Theft offences,143,,South East,No Lockdown
103903,North Yorkshire,2021,1,Drug offences,4,,North,Medium
...,...,...,...,...,...,...,...,...
102515,Norfolk,2021,1,Public order offences,2,,East Midlands,Medium
91973,Devon and Cornwall,2021,1,Criminal damage and arson,9,,South West,Medium
63937,Cumbria,2021,3,Public order offences,2,,North,Medium
35477,Essex,2019,1,Criminal damage and arson,2,,South East,No Lockdown
89094,Cambridgeshire,2021,1,Theft offences,5,,East Midlands,Medium

In [26]:
#df2.to_csv('UK_Lockdown_Crime_sample.csv')

In [27]:
df.Number_of_Arrests.max()

23977

In [28]:
#df.to_csv('UK_Lockdown_Crime.csv')

In [29]:
#sns.barplot(data=df,x='Year',y='Number_of_Arrests',hue='Offence_Group',estimator=sum)

In [30]:
df.Year.value_counts()

2021    53309
2019    27414
2020    26721
Name: Year, dtype: int64