In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(r"D:\EOY Datasets\Full Datasets"+'\\'+'Full_dataset.csv',index_col=0)

C:\Users\ellio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [10]:
df.head()

,Crime ID,Year,Month,Region,Reported by,Crime type,Outcome type,Level_of_Lockdown
0,e9a50727f2189e0c50f704e3661bc1a8ae3a39aece4866...,2019,2019-01,South West,Avon and Somerset Constabulary,Violence and sexual offences,No suspect identified,No Lockdown
1,fb06f54e9d633a961109ef74171e4beb40b2fe44e57a10...,2019,2019-01,South West,Avon and Somerset Constabulary,Violence and sexual offences,Unable to prosecute suspect,No Lockdown
2,4655ba031d5c8d00b247577a22472fbb8f9130d98b7d95...,2019,2019-01,South West,Avon and Somerset Constabulary,Violence and sexual offences,No suspect identified,No Lockdown
3,2830f28a4a93138717182d1cc51b6d77cfaf3c27398934...,2019,2019-01,South West,Avon and Somerset Constabulary,Theft offences,No suspect identified,No Lockdown
4,ca01d599d45f6e1d1bc5b05ddc6a1b559870fc831baa8e...,2019,2019-01,South West,Avon and Somerset Constabulary,Theft offences,No suspect identified,No Lockdown

In [11]:
df['Outcome type'].value_counts()

No suspect identified          917049
Unable to prosecute suspect    697036
Other Outcome                  162503
Suspect charged                134939
Name: Outcome type, dtype: int64

In [19]:
grouped = df.groupby(['Level_of_Lockdown','Region','Crime type'])['Crime ID'].count().reset_index().rename(columns={'Crime ID': 'Count'})

In [20]:
grouped

   Level_of_Lockdown         Region                    Crime type  Count
0               High  East Midlands     Criminal damage and arson  23216
1               High  East Midlands                 Drug offences   4476
2               High  East Midlands         Public order offences  17254
3               High  East Midlands                Theft offences  53294
4               High  East Midlands  Violence and sexual offences  67831
..               ...            ...                           ...    ...
70       No Lockdown  West Midlands     Criminal damage and arson  25803
71       No Lockdown  West Midlands                 Drug offences   4989
72       No Lockdown  West Midlands         Public order offences  18561
73       No Lockdown  West Midlands                Theft offences  64378
74       No Lockdown  West Midlands  Violence and sexual offences  70411

[75 rows x 4 columns]

In [21]:
#grouped.to_csv('test_group')