In [1]:
import pandas as pd

In [4]:
src_folder = r"D:\EOY Datasets\Full Datasets\Everything.csv"

In [8]:
df = pd.read_csv(src_folder,index_col=0)

C:\Users\ellio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [9]:
df

,Crime ID,Month,Reported by,Crime type,Outcome type
0,e9a50727f2189e0c50f704e3661bc1a8ae3a39aece4866...,2019-01,Avon and Somerset Constabulary,Violence and sexual offences,Investigation complete; no suspect identified
1,fb06f54e9d633a961109ef74171e4beb40b2fe44e57a10...,2019-01,Avon and Somerset Constabulary,Violence and sexual offences,Unable to prosecute suspect
2,4655ba031d5c8d00b247577a22472fbb8f9130d98b7d95...,2019-01,Avon and Somerset Constabulary,Violence and sexual offences,Investigation complete; no suspect identified
3,ec8d35d29e7da82943ab680573da85feb9f316ffa69d92...,2019-01,Avon and Somerset Constabulary,Other crime,Investigation complete; no suspect identified
4,2830f28a4a93138717182d1cc51b6d77cfaf3c27398934...,2019-01,Avon and Somerset Constabulary,Burglary,Investigation complete; no suspect identified
...,...,...,...,...,...
11424442,ec0357d8210b3df52277002d3a0f5967bf78d26d572583...,2021-12,Wiltshire Police,Shoplifting,Investigation complete; no suspect identified
11424443,8af4abefb399d3a2c1c71eec2045f3d4f9898c2ba97001...,2021-12,Wiltshire Police,Shoplifting,Investigation complete; no suspect identified
11424444,c841195e16630555c41673ed9297003fed3330aedf51d6...,2021-12,Wiltshire Police,Shoplifting,Investigation complete; no suspect identified
11424445,d72213b3d95321a2759fa9319324a861a67fc982ff4bed...,2021-12,Wiltshire Police,Vehicle crime,Investigation complete; no suspect identified
11424446,4825a1d454fe10c84bacb9152c4980b4bc4f3ec5731373...,2021-12,Wiltshire Police,Vehicle crime,Investigation complete; no suspect identified

In [11]:
df['Year'] = df.Month.apply(lambda x: '2019' if x in ['2019-01','2019-02','2019-03','2019-04','2019-05','2019-06'
                                                     ,'2019-07','2019-08','2019-09','2019-10','2019-11','2019-12'] else ('2020' if x in 
                                ['2020-01','2020-02','2020-03','2020-04','2020-05','2020-06'
                                                     ,'2020-07','2020-08','2020-09','2020-10','2020-11','2020-12'] else ('2021' if x in ['2021-01','2021-02','2021-03','2021-04','2021-05','2021-06'
                                                     ,'2021-07','2021-08','2021-09','2021-10','2021-11','2021-12'] else 'butts')))

In [12]:
df.Year.value_counts()

2019    4011046
2020    4008797
2021    3404604
Name: Year, dtype: int64

In [13]:
df['Level_of_Lockdown'] = df.Year.apply(lambda x: 'No Lockdown' if x == '2019' else 'High' if x == '2020' else 'Medium' if x == '2021' else 'butts')

In [14]:
df['Level_of_Lockdown'].value_counts()

No Lockdown    4011046
High           4008797
Medium         3404604
Name: Level_of_Lockdown, dtype: int64

In [16]:
df['Crime type'] = df['Crime type'].apply(lambda x: 'Theft offences' if x in 
                                              ['Other theft', 'Burglary', 'Shoplifting','Theft from the person','Robbery',
                                              'Bicycle theft'] else x)

In [19]:
df = df[df['Crime type']!='Vehicle crime'].copy()

In [20]:
df['Crime type'] = df['Crime type'].apply(lambda x: 'Public order offences' if x=='Public order' else x)

In [22]:
df = df[df['Crime type']!='Other crime']
df = df[df['Crime type']!='Possession of weapons']

In [23]:
df['Crime type'] = df['Crime type'].apply(lambda x: 'Drug offences' if x=='Drugs' else x)

In [24]:
df['Crime type'].value_counts()

Violence and sexual offences    4553047
Theft offences                  2848076
Criminal damage and arson       1248556
Public order offences           1120457
Drug offences                    440597
Name: Crime type, dtype: int64

In [25]:
df['Outcome type'] = df['Outcome type'].apply(lambda x: 'No suspect identified' if x=='Investigation complete; no suspect identified'
                                                  else ('Unable to prosecute suspect' if x == 'Unable to prosecute suspect' else ('Suspect charged' if x == 'Suspect charged'
                                                 else 'Other Outcome')))

In [26]:
df['Outcome type'].value_counts()

No suspect identified          4335683
Unable to prosecute suspect    4136664
Other Outcome                   913747
Suspect charged                 824639
Name: Outcome type, dtype: int64

In [120]:
south_east = ['Essex','Kent','City of London','Metropolitan','Hertfordshire',
                'Bedfordshire','Surrey','Hampshire','Thames Valley','Sussex']
south_west = ['Devon & Cornwall', 'Dorset', 'Avon and Somerset', 'Wiltshire', 'Gloucestershire','Gwent', 
              'South Wales', 'Dyfed-Powys', 'West Mercia', 'North Wales']
west_midlands = ['warwickshire','west midlands','staffordshire','derbyshire','cheshire',
                 'greater manchester','merseyside','lancashire']
east_midlands = ['suffolk','cambridgeshire','norfolk','northamptonshire','leicestershire',
                 'lincolnshire','nottinghamshire','south yorkshire','humberside','west yorkshire']
north = ['north yorkshire','durham','northumbria','cumbria','cleveland']

In [121]:
west_midlands = [singer.title() for singer in west_midlands]
east_midlands = [singer.title() for singer in east_midlands]
north = [singer.title() for singer in north]

In [122]:
south_west

['Devon & Cornwall',
 'Dorset',
 'Avon and Somerset',
 'Wiltshire',
 'Gloucestershire',
 'Gwent',
 'South Wales',
 'Dyfed-Powys',
 'West Mercia',
 'North Wales']

In [30]:
df['Reported by'] = df['Reported by'].str.replace('Service','',regex=True)
df['Reported by'] = df['Reported by'].str.replace('Police','',regex=True)
df['Reported by'] = df['Reported by'].str.replace('Constabulary','',regex=True)

In [113]:
df['Reported by'] = df['Reported by'].str.strip()

In [56]:
df['Reported by'].value_counts()

Metropolitan           1170416
West Yorkshire          707495
West Midlands           514291
Kent                    434018
Essex                   399740
Thames Valley           386061
Merseyside              372852
South Yorkshire         333929
Hampshire               331849
Lancashire              293021
Sussex                  284230
South Wales             271537
Nottinghamshire         250274
Northumbria             231146
Humberside              223868
Leicestershire          218922
Devon & Cornwall        216169
West Mercia             212595
Cheshire                211163
Derbyshire              193984
Cleveland               179887
Staffordshire           179857
Avon and Somerset       179705
Hertfordshire           179230
Surrey                  172358
Norfolk                 169629
Cambridgeshire          165527
Northamptonshire        154576
Durham                  153553
North Wales             137016
Suffolk                 136226
Dorset                  129474
Lincolnshire            124153
Greater Manchester      121651
Bedfordshire            117816
North Yorkshire         110885
Gloucestershire         101282
Warwickshire             97831
Wiltshire                96609
Cumbria                  95393
Gwent                    82114
Dyfed-Powys              54613
City of London           13788
Name: Reported by, dtype: int64

In [ ]:
df[df[]]

In [123]:
df['Region'] = df['Reported by'].apply(lambda x: 'South East' if x in south_east else 'South West' if x in south_west else 'West Midlands'
                                      if x in west_midlands else 'East Midlands' if x in east_midlands else 'North' if x in north else 'butts')

In [124]:
df.Region.value_counts()

South East       3489506
East Midlands    2484599
West Midlands    1984650
South West       1481114
North             770864
Name: Region, dtype: int64

In [125]:
df

,Crime ID,Month,Reported by,Crime type,Outcome type,Year,Level_of_Lockdown,Region
0,e9a50727f2189e0c50f704e3661bc1a8ae3a39aece4866...,2019-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
1,fb06f54e9d633a961109ef74171e4beb40b2fe44e57a10...,2019-01,Avon and Somerset,Violence and sexual offences,Unable to prosecute suspect,2019,No Lockdown,South West
2,4655ba031d5c8d00b247577a22472fbb8f9130d98b7d95...,2019-01,Avon and Somerset,Violence and sexual offences,No suspect identified,2019,No Lockdown,South West
4,2830f28a4a93138717182d1cc51b6d77cfaf3c27398934...,2019-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West
5,ca01d599d45f6e1d1bc5b05ddc6a1b559870fc831baa8e...,2019-01,Avon and Somerset,Theft offences,No suspect identified,2019,No Lockdown,South West
...,...,...,...,...,...,...,...,...
11424440,b81d4240a922e62a8ab5c7563e890f53503bbd9a72d30f...,2021-12,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
11424441,8936ed88bc946d71ea9e1ba7bf545d335aca64a2aad0c2...,2021-12,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
11424442,ec0357d8210b3df52277002d3a0f5967bf78d26d572583...,2021-12,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
11424443,8af4abefb399d3a2c1c71eec2045f3d4f9898c2ba97001...,2021-12,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West
11424444,c841195e16630555c41673ed9297003fed3330aedf51d6...,2021-12,Wiltshire,Theft offences,No suspect identified,2021,Medium,South West

In [126]:
#df.to_csv('Everything_cleaned.csv')