In [59]:
import pandas as pd
import glob
import os
import shutil
import re

In [60]:
src_folder = r"D:\EOY Datasets\Non-Covid\Merging"

In [61]:
os.listdir(src_folder)

['East_Midlands_outcomes.csv',
 'East_Midlands_street.csv',
 'North_outcomes.csv',
 'North_street.csv',
 'South_East_outcomes.csv',
 'South_East_street.csv',
 'South_West_outcomes.csv',
 'South_West_street.csv',
 'West_Midlands_outcomes.csv',
 'West_Midlands_street.csv']

In [62]:
df1 = pd.read_csv(src_folder+'\\'+'North_street.csv',usecols=['Crime ID', 'Month', 'Reported by','Crime type'])
df2 = pd.read_csv(src_folder+'\\'+'North_outcomes.csv',usecols=['Crime ID','Outcome type'])

In [63]:
df1.head()

  Crime ID    Month       Reported by             Crime type
0      NaN  2017-01  Cleveland Police  Anti-social behaviour
1      NaN  2017-01  Cleveland Police  Anti-social behaviour
2      NaN  2017-01  Cleveland Police  Anti-social behaviour
3      NaN  2017-01  Cleveland Police  Anti-social behaviour
4      NaN  2017-01  Cleveland Police  Anti-social behaviour

In [64]:
df1 = df1.dropna(subset=['Crime ID']).reset_index(drop=True)
df2 = df2.dropna(subset=['Crime ID']).reset_index(drop=True)

In [65]:
df3 = df1.merge(df2, how='inner',on='Crime ID')

In [66]:
df3 = df3.drop_duplicates(subset=['Crime ID'])

In [67]:
df3['Region'] = 'North'

In [68]:
df3

,Crime ID,Month,Reported by,Crime type,Outcome type,Region
0,a526e7399ba9ff64531b97d89d3267ea1b5ef997d0b84e...,2017-01,Cleveland Police,Burglary,Investigation complete; no suspect identified,North
1,aeb7bbbe699c92e4049a075849f31cde8a113e27d96f70...,2017-01,Cleveland Police,Criminal damage and arson,Investigation complete; no suspect identified,North
2,91d7e9d398afe494debfb1296e6ec4489857714eddc295...,2017-01,Cleveland Police,Criminal damage and arson,Investigation complete; no suspect identified,North
3,ab923b852c9845c80df9d97695359ea99dcf50c9bb34c0...,2017-01,Cleveland Police,Vehicle crime,Investigation complete; no suspect identified,North
4,62d16752b124ddc24c788525760b5169272d2904623d65...,2017-01,Cleveland Police,Vehicle crime,Investigation complete; no suspect identified,North
...,...,...,...,...,...,...
955968,11d7197724322656845df5a5217dd8ce58344f99b7f44a...,2019-12,Northumbria Police,Other theft,Investigation complete; no suspect identified,North
955969,17c66fc067368df771be8415f9216ea42f4b32555b2a40...,2019-12,Northumbria Police,Other theft,Investigation complete; no suspect identified,North
955970,7bad96a4bd353d3019ae6e3bc86d99479cb6b57cd3f64a...,2019-12,Northumbria Police,Shoplifting,Investigation complete; no suspect identified,North
955971,99af8b2c3b7334f47aa54a842396db13c79bda1ef3e429...,2019-12,Northumbria Police,Vehicle crime,Investigation complete; no suspect identified,North
955972,74459e124b241a966f4826f24048e2d0380f9d550904d0...,2019-12,Northumbria Police,Vehicle crime,Investigation complete; no suspect identified,North

In [69]:
df3.to_csv('North_full.csv')